* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0 auto; /* Removida a margem superior e inferior */
    background: #eaf7ff;
    text-align: justify;
}

.text-align {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.container {
    max-width: 800px;
    margin: auto;
    overflow: auto;
    background-color: #ffffff;
    border-radius: 10px;
}

/*Colunas para computador*/
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* Configuração para celulares */
@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
        padding: 10px;
    }
}

.cabecalho {
    text-align: center;
}

.cabecalho h1, .cabecalho h2 {
    padding: 0;
    margin: 0;
}

.cabecalho img {
    width: 200px;
}

ul, li {
    list-style-type: none;
    padding-left: 0;
}

.conteudo {
    color: #ffffff;
}

.conteudo h3 {
    text-align: right;
}

.borda {
    border-left: solid 1px #ffffff;
}

#sobre {
    background: #168aad; /* Fallback para navegadores que não suportam degradê */
    background: linear-gradient(to bottom, #168aad, #184e77);
}

#experiencias {
    background: #1e6091; /* Fallback para navegadores que não suportam degradê */
    background: linear-gradient(to bottom, #1e6091, #184e77);
}

#cursos {
    background: #1a759f; /* Fallback para navegadores que não suportam degradê */
    background: linear-gradient(to bottom, #1a759f, #184e77);
}

#projetos {
    background: #1e6091; /* Fallback para navegadores que não suportam degradê */
    background: linear-gradient(to bottom, #1e6091, #184e77);
}

#contato {
    background: #184e77; /* Fallback para navegadores que não suportam degradê */
    background: linear-gradient(to bottom, #184e77, #162e4d);
    color: #ffffff;
}

.conteudo h3 {
    text-align: left !important;
    margin: 0;
}
